.Config__root {
    display: block;

    & .Config__panel {
        display: flex;
        margin: 20px auto;

        & .Config__img {
            display: flex;
            width: 60px;
            margin: 0 10px 0 auto;
            opacity: 0.9;
        }

        & .Config__row {
            display: flex;
            margin-bottom: 20px;
        }

        & .Config__label {
            width: 60px;
            height: fit-content;
            margin: 5px auto 0 10px;
        }

        & i {
            margin-top: 10px;
            margin-bottom: 5px;

            margin-left: 2px;
            margin-right: 2px;

            &.alive {
                color: red;
            }

            &.fa-minus {
                margin-left: 10px;
                margin-right: 10px;
            }
        }

        & .select {
            width: 80px;
        }

        & .select svg {
            cursor: pointer;
        }
    }
}
