.Controller__root {
    display: flex;

    & .Controller__panel {
        margin: 20px auto;
        display: flex;

        & i {
            font-size: 48px;

            &.enabled {
                cursor: pointer;
                opacity: 1;
            }
            &.disabled {
                cursor: default;
                opacity: 0.7;
            }

            &:first-of-type {
                margin-left: auto;
            }

            &:last-of-type {
                margin-right: auto;
            }

            &:not(:first-of-type) {
                margin-left: 30px;
            }

            &.fa-play-circle {
                color: #007ACC;
            }

            &.fa-stop-circle {
                color: darkred;
            }

            &.fa-shoe-prints {
                color: darkgreen;
            }

            &.fa-times-circle {
                color: darkslategrey;
            }
        }
    }
}