.Grid__root {
    display: flex;

    & table {
        margin: auto;
        border-collapse: separate;
        border-spacing: 4px; 
        font-size: 20px;
        line-height: 1;
    }
}

td i {
    cursor: pointer;

    &.alive {
        color: red;
    }
}
