.Grid__root {
    display: flex;
    width: 100%;
    background-color: darkgrey;
    padding: 20px;

    & .Grid__panel {
        display: flex;
        margin: auto;

        & table {

            & .Grid__caption {
                width: 100%;
                caption-side: top;
                text-align: center;
                font-weight: 600;
                color: black;
                opacity: 0.8;
                padding-top: 0;
            }
            margin: auto;
            border-collapse: separate;
            border-spacing: 0.2px; 
            font-size: 14px;
            line-height: 1;
        }
    }
}

td i {
    cursor: pointer;

    &.alive {
        color: red;
    }
}
