.Grid__root {
    display: flex;
    background-color: darkgrey;
    padding: 20px 0;

    & table {
        margin: auto;
        border-collapse: separate;
        border-spacing: 0.25px; 
        font-size: 16px;
        line-height: 1;
    }
}

td i {
    cursor: pointer;

    &.alive {
        color: red;
    }
}
